<footer class="border-top pl-3 footer text-white-50" style="background-color: #343a40;">
    <div class="container">
        Made with ❤ By Sudi &copy; @DateTime.UtcNow.Year.ToString() - FoodHub - All right reserved.
    </div>
</footer>